@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');


$sm: 375px;
$lg: 1440px;

$white: hsl(0, 0%, 98%);
$grey: hsl(0, 0%, 41%);
$black: hsl(0, 0%, 8%);

$default_font_size: 1.125rem; 

$medium: 700;
$light: 500;
